#app {
    height: 100%;
    background: #f0f0ef;
}

.hidden {
    display: none !important;
}

.mint-msgbox-message {
    .message {
        color: #f00;
        padding-top: 20px;
    }
}

.customerInformation_list {
    overflow-y: auto;
}

.mint-msgbox-message {
    input {
        width: 95%;
        height: 64px;
        text-indent: 32px;
        margin: 0 auto;
        border: 2px solid #000;
    }
}
#launchMiniprogram {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: 999;
    background-color: #ffffff;

    main {
      position: fixed;
      top: 20%;
      // transform: translateY(-50%);
      width: 100vw;
      height: 6rem;

      header {
        width: 100vw;
        height: 50%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5rem;
        font-weight: bold;
      }

      footer {
        width: 100vw;
        height: 50%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.4rem;
        font-weight: bold;
        color: #26a2ff;
        text-decoration: underline;
      }
    }
  }
#container_main,
.container_customer {
    width: 100%;
    height: 100%;
    font-family: "SourceHanSansCN-Regular";
    background: none;
    overflow: hidden;
    position: relative;

    //  滑动吸顶
    .isFixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    .opcity {
        border: 2px solid #b9b9b9 !important;
        color: #b9b9b9 !important;
    }

    //  数据为空时展示文字
    .offline_his {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 24px;
        color: #666;
        line-height: 240px;
    }

    .head {
        background: #fff;
        width: 100%;
        overflow: hidden;

        //position: fixed;
        //top: 0;
        //z-index: 1;
        .head-left {
            float: left;
            margin-left: 60px;
            color: #333;
            margin-top: 62px;

            h1 {
                font-size: 50px;
                font-family: "MicrosoftYaHei-Bold";
                padding-bottom: 24px;
                margin: 0;
                font-weight: normal;

                .addBackname {
                    width: 36px;
                    height: 36px;
                    margin-left: 8px;

                    img {
                        width: 36px;
                        height: 36px;
                    }
                }
            }

            p {
                font-size: 30px;
                padding-bottom: 24px;
                font-weight: bold;

                span {
                    font-weight: normal;
                }
            }

            p:last-child {
                padding-bottom: 56px;
            }
        }

        .head-right {
            width: 160px;
            height: 160px;
            margin-top: 62px;
            float: right;
            margin-right: 56px;
            box-shadow: 5px 5px 5px #d9d9d9;
            border-radius: 50%;
            position: relative;

            img {
                &:nth-of-type(1){
                    display: block;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
                &:nth-of-type(2){
                    position: absolute;
                    width: 0.6rem;
                    right: 0;
                    bottom: 0.1rem;
                }
            }
        }

        .head-down {
            clear: both;
            width: 100%;
            display: flex;
            text-align: center;
            padding: 32px 0;
            border-top: 2px solid #ddd;

            span {
                width: 33.3%;
                display: block;
                box-sizing: border-box;
                border-right: 2px solid #ddd;

                h3 {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-bottom: 26px;
                    font-size: 30px;
                    color: #333;
                }

                p {
                    font-size: 28px;
                    color: #898888;
                }
            }

            span:last-child {
                border: none;
            }
        }
    }

    .infoSelected {
        margin-top: 16px;
        height: 120px;

        a {
            display: inline-block;
            padding: 0;

            div {
                font-size: 34px;
                padding: 40px 0 40px 0;
            }

            div:last-child {
                display: inline-block;
            }
        }

        .is-selected {
            border: none;

            div:last-child {
                color: #000;
                border-bottom: 5px solid #000;
                font-weight: bold;
            }
        }
    }

    .infoTag {
        width: 100%;
        background: #fff;

        .infoTag-list {
            width: 625px;
            display: block;
            margin: 0 auto;
            padding-top: 15px;

            li {
                display: inline-block;
                height: 56px;
                line-height: 54px;
                text-align: center;
                margin-top: 20px;
                margin-right: 15px;
                box-sizing: border-box;
                border: 2px solid #98c960;
                border-radius: 27px;
                padding: 0 20px;
                font-size: 26px;
                position: relative;
            }

            .opcity {
                border: 2px solid #b9b9b9;
                color: #b9b9b9 !important;
            }

            .public_lable {
                border: 2px solid #fbaa72;
                color: #fbaa72;
            }

            .custom_lable {
                border: 2px solid #98c960;
                color: #98c960 !important;

                .dlt {
                    //                  display: none;
                    .img {
                        display: block;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        position: absolute;
                        right: -13.5px;
                        top: -13.5px;
                        background-size: 100% 100%;
                    }
                }
            }
        }

        .infoTag-control {
            display: inline-block;
            margin: 20px 0 65px;

            div {
                display: inline-block;
                width: 110px;
                height: 54px;
                vertical-align: middle;
                background: #f3f3f3;
                position: relative;

                img {
                    display: block;
                    width: 34px;
                    height: 34px;
                    margin: 10px auto;
                }
            }

            div:last-child {
                img {
                    height: 10px;
                    margin: 22px auto;
                }
            }
        }
    }

    //  公共标题
    .memberTit {
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 25px;
        width: 685px;
        float: right;
        box-sizing: border-box;
        border-bottom: 2px solid #ddd;

        div::after {
            content: "\e72b";
            font-family: "iconfont";
            height: 30px;
            position: absolute;
            right: 24px;
            font-size: 30px;
            font-weight: bold;
            color: #000;
        }
    }

    //  查看更多
    .seeMore {
        font-size: 30px;
        display: inline-block;
        float: right;
        margin-right: 65px;
    }

    .memberRights {
        width: 100%;
        background: #fff;
        overflow: hidden;

        .memberRights-list {
            margin: 0 65px;
            display: flex;
            flex-flow: wrap row;
            justify-content: space-around;
            clear: both;

            li {
                display: inline-block;
                width: 33.3%;
                text-align: center;

                img {
                    display: block;
                    width: 52px;
                    height: 52px;
                    margin: 38px auto 16px auto;
                }

                h4 {
                    font-size: 28px;
                    color: #666;
                    padding-bottom: 16px;
                }

                p {
                    font-size: 30px;
                    color: #333;
                    padding-bottom: 38px;
                    font-family: "MicrosoftYaHei";
                }
            }
        }
    }

    .memberCard {
        width: 100%;
        overflow: hidden;
        background: #f0f0ef;

        .memberTit {
            padding-top: 35px;
            border: none;
        }

        .offline_his {
            clear: both;
            height: 200px;
            line-height: 160px;
        }

        .memberCard-list {
            margin: 0 22px 0 22px;
            clear: both;

            .ban_li {
                opacity: 0.3;
                pointer-events: none;
                z-index: 10;
                position: relative;

                .ban_li .icon {
                    display: block;
                    width: 185px;
                    height: 100px;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }

            li {
                margin-bottom: 25px;
                clear: both;
                width: 100%;
                height: 194px;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center center;

                .memberCard-item-left {
                    float: left;
                    margin-left: 40px;

                    .cardType {
                        display: inline-block;
                        line-height: 34px;
                        background: #f8a120;
                        color: #fff;
                        margin: 34px 0 24px 0;
                        font-size: 25px;
                        text-align: center;
                        padding: 0 10px;
                    }

                    .autoWidth {
                        margin: 25px 0 15px 0;
                        width: 395px;
                        word-break: break-all;
                        text-overflow: ellipsis; //显示为省略号
                        display: -webkit-box; //对象作为伸缩盒子模型显示

                        /*! autoprefixer: off */
                        -webkit-box-orient: vertical;
                        /* autoprefixer: on */

                        -webkit-line-clamp: 2; //显示行数## 标题文字 ##
                        overflow: hidden;
                    }

                    .cardCode {
                        padding-bottom: 15px;
                        font-size: 24px;
                    }

                    .cardDate {
                        font-size: 20px;
                        color: #999;
                    }
                }

                .memberCard-item-right {
                    width: 240px;
                    float: right;
                    color: #fff;
                    text-align: center;

                    .cardEffect {
                        font-size: 34px;
                        margin: 50px 0 28px 0;
                        font-weight: normal;
                    }

                    .cardWay {
                        font-size: 22px;
                    }

                    .cardFeature {
                        font-size: 24px;
                        padding-top: 15px;
                        color: #fff;
                    }

                    .paddingtop {
                        padding-top: 50px !important;
                    }

                    .cardDiscount {
                        font-size: 36px;
                        color: #fff;
                        padding-top: 30px;
                    }
                }
            }
        }

        .ban_li {
            opacity: 0.3;
            pointer-events: none;
            z-index: 10;
            position: relative;

            .icon {
                display: block;
                width: 185px;
                height: 100px;
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }

    .browseRecord {
        width: 100%;
        background: #fff;
        overflow: hidden;
        margin-bottom: 100px;

        .memberTit {
            padding: 35px 0 35px;
            border-bottom: none;
        }

        .offline_his {
            clear: both;
            height: 200px;
            line-height: 130px;
        }

        .swiper-container {
            width: 710px;
            margin: 0 auto 35px auto;

            img {
                height: 200px;
                display: block;
                margin: 5% auto 0 auto;
            }

            p {
                font-size: 20px;
                text-indent: 0.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-top: 10px;
            }

            .price {
                color: #d31e1e;
                padding-bottom: 15px;
            }
        }
    }

    .phoneBox {
        position: absolute;
        width: 8rem;
        height: 4rem;
        background-color: #eadada;
        z-index: 99;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.5rem;
        .phoneF {
            position: relative;
            top: 0.8rem;
            height: 2.4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            p {
                font-size: 0.6rem;
            }
            button {
                width: 3rem;
                background-color: black;
                color: white;
                border: 0;
                height: 0.8rem;
            }
        }
    }
    .bgBox {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 98;
    }

    .memberContact {
        clear: both;
        width: 100%;
        height: 100px;
        display: flex;
        background: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        border-top: 2px solid #ddd;
        z-index: 999;

        a {
            display: block;
            width: 50%;
            height: 40px;
            text-align: left;
            margin-top: 23px;
            border-right: 2px solid #000;
            color: #000;
            //          div{
            clear: both;
            line-height: 40px;
            font-size: 28px;

            img {
                width: 32px;
                height: 32px;
                vertical-align: middle;
                position: relative;
                left: 50px;
            }

            .wximg {
                left: 85px !important;
            }

            span {
                display: inline-block;
                margin-left: 50px;
            }

            .wxspan {
                margin-left: 115px !important;
            }

            p {
                text-align: center;
                text-indent: 0;
                color: #f00;
                font-size: 12px;
            }

            //          }
        }

        a:last-child {
            border-right: 0px;
        }

        .wx {
            color: #999;
        }
    }

    #memberPay {
        .memberRights-list {
            margin: 44px 65px 27px 65px;

            li {
                img {
                    margin-top: 0;
                }
            }
        }
    }

    .storeMemberTit,
    .onlineMemberTit {
        width: 720px;
        margin: 16px auto 0 auto;
        padding: 30px 0 56px 0;
        float: none;
        color: #333;
        background: #fff;
        border-bottom: 0;

        .titName {
            margin-left: 26px;
        }

        b {
            font-weight: normal;
            margin-left: 15px;
        }

        .seeMore {
            margin-right: 38px;
        }
    }

    .Consumption {
        width: 720px;
        margin: 0 auto 16px auto;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
        min-height: 200px;

        .offline_his {
            line-height: 130px;
        }

        .orderNo {
            clear: both;
            margin: 0 0 24px 26px;
            color: #666;

            .orderDate {
                float: right;
                margin-right: 38px;
            }
        }

        .order-list {
            clear: both;
            width: 682px;
            margin: 0 auto;

            .order-item {
                clear: both;
                width: 100%;
                border-top: 2px solid #ebebeb;

                .order-img {
                    width: 110px;
                    height: 110px;
                    display: block;
                    float: left;
                    margin: 16px 0;
                }

                .order-info {
                    float: left;
                    width: 535px;
                    margin-left: 32px;

                    span {
                        display: block;
                    }

                    .order-name {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 24px;
                        color: #333;
                        padding: 10px 0 16px 0;
                    }

                    .order-specification,
                    .order-sku {
                        font-size: 24px;
                        color: #999;
                        padding-bottom: 16px;

                        span {
                            display: inline;
                            color: #666;
                        }
                    }

                    .order-sku {
                        padding-bottom: 0;
                    }

                    .order-price {
                        font-family: "MicrosoftYaHei";
                        font-size: 24px;
                        color: #222;
                        text-align: right;
                    }
                }
            }
        }

        .order-settlement {
            width: 682px;
            margin: 0 auto;
            clear: both;

            span {
                display: block;
                text-align: right;
            }

            .order-address {
                font-size: 22px;
                color: #666;
                padding: 30px 0 24px 0;

                b {
                    color: #333;
                    min-width: 55px;
                }
            }

            .order-total {
                font-size: 22px;
                color: #666;
                padding-bottom: 54px;

                b {
                    color: #d71313;
                    min-width: 55px;
                }
            }
        }
    }

    .online {
        margin-bottom: 110px;
    }

    .invitationToReturn {
        .contactTrack {
            width: 100%;
            background: #fff;
            overflow: hidden;

            .contactTrack-tit {
                width: 686px;
                margin: 35px 0 0 72px;
                border-bottom: 2px solid #ddd;
                overflow: hidden;

                span {
                    line-height: 65px;
                }

                .contactTrack-add {
                    float: right;
                    display: block;
                    width: 160px;
                    height: 65px;
                    line-height: 63px;
                    text-indent: 1em;
                    border-radius: 4px;
                    font-size: 32px;
                    border: 2px solid #000;
                    margin: 0 54px 25px 0;
                    position: relative;
                    color: #000;
                }

                div::after {
                    content: "\e618";
                    font-family: "iconfont";
                    height: 63px;
                    position: absolute;
                    right: 16px;
                    line-height: 66px;
                    font-weight: bold;
                    font-size: 48px;
                    color: #000;
                }
            }

            .contactTrack-list {
                width: 650px;
                float: right;
                margin-bottom: 50px;

                .contactTrack-item {
                    width: 100%;
                    border-left: 2px solid #ddd;
                    display: flex;

                    img {
                        width: 18px;
                        height: 18px;
                        margin: 84px 66px 0 -9px;
                    }

                    .contactTrack-date {
                        margin: 85px 40px 0 0;
                        font-size: 26px;
                        color: #1d1d26;

                        span {
                            display: block;
                            margin-top: 30px;
                        }
                    }

                    .contactTrack-contact {
                        width: 55%;
                        margin: 80px 0 0 0;

                        span {
                            display: block;
                        }

                        .contactType {
                            padding-bottom: 30px;
                            font-size: 32px;
                            color: #1d1d26;
                        }

                        .contactText {
                            font-size: 24px;
                            color: #a3a3a3;
                            line-height: 35px;
                        }
                    }
                }
            }
        }
    }

    .seeDetails {
        width: 100%;
        clear: both;
        display: block;
        text-align: center;
        font-size: 32px;
        color: #366dd2;
        text-decoration: underline;
        margin-bottom: 158px;
    }

    .mint-tab-item-label {
        color: #a3a3a3;
    }
}

@font-face {
    font-family: "iconfont";
    /* project id 759672 */
    src: url("//at.alicdn.com/t/font_759672_upq5mdxiaq8.eot");
    src: url("//at.alicdn.com/t/font_759672_upq5mdxiaq8.eot?#iefix") format("embedded-opentype"),
        url("//at.alicdn.com/t/font_759672_upq5mdxiaq8.woff") format("woff"),
        url("//at.alicdn.com/t/font_759672_upq5mdxiaq8.ttf") format("truetype"),
        url("//at.alicdn.com/t/font_759672_upq5mdxiaq8.svg#iconfont") format("svg");
}

.hideDom {
    display: none;
}
