#app {
	height: 100%;
	background: #fff;
	#inviteList {
		height: 100%;
		background: #fff;
		.ScrollBox {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0px;
			z-index: 2015;
			background: #fff;
			.memberList {
				clear: both;
				font-family: MicrosoftYaHei;
				margin-left: 34px;
				z-index: 1;
				li {
					width: 100%;
					height: 156px;
					border-bottom: 1px solid #ddd;
					.memberImg {
						width: 120px;
						height: 120px;
						background: #fff;
						border: 2px solid #DDDDDD;
						float: left;
						margin: 18px 0;
						border-radius: 56px 56px;
						box-shadow: 0.05rem 0.05rem 0.05rem #d9d9d9;
						img {
							width: 114px;
							height: 114px;
							display: block;
							border-radius: 55px 55px;
							margin: 2px;
							float: left;
						}
					}

					.memberData {
						float: left;
						height: 100%;
						margin-left: 15px;
						span {
							display: block;
						}
						.memberName {
							font-size: 28px;
							color: #333;
							padding-top: 30px;
						}
						.memberCard {
							font-size: 22px;
							color: #444;
							padding: 9px 0;
						}
						.memberPay {
							font-size: 20px;
							color: #666;
						}
					}
					.memberDate {
						font-family: MicrosoftYaHei;
						color: #333;
						float: right;
						margin-right: 50px;
						div {
							display: block;
							font-size: 20px;
							padding-top: 16px;
							span{
							    display: inline-block;
							    width: 200px;
							    text-align: right;
							}
						}
						.registrationDate {
							padding: 24px 0 0 0;
						}
					}
				}
				li:last-child {
					border: none;
				}
			}
		}
	}
}
