#app {
  height: 100%;
}

// tab切换
#myEmployees .myScroll {
  overflow-y: auto;
}
#myEmployees a {
  background-color: transparent;
}
#myEmployees .mint-navbar {
  height: 110px;
  justify-content: space-around;
  padding: 0 10px;
  position: fixed;
  z-index: 9;
  width: 100%;
  max-width: 1024px; /*no*/
}

#myEmployees .mint-navbar .mint-tab-item {
  color: #a2a2a2;
}

#myEmployees .mint-tab-item-label {
  font-family: SourceHanSansCN-Regular;
  font-size: 32px;
}

#myEmployees .mint-navbar .mint-tab-item.is-selected {
  border-bottom: 4px solid #000;
  color: #000;
  margin: 0;
}

#myEmployees .mint-navbar .mint-tab-item {
  padding: 53px 10px 23px 10px;
  flex: none;
}

#myEmployees .mint-tab-container {
  background: #f0f0ef;
  width: 100%;
  //height: 91.7%;
  //height: 90%;
  height: inherit;
  position: absolute;
  top: 110px;
  z-index: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 1024px; /*no*/
}

#myEmployees ._v-container[data-v-ecaca2b0] {
  top: 21px;
}

#myEmployees {
  height: 100%;

  .staff {
    padding-top: 17px;
    li {
      padding-left: 0.333333rem;
      border-bottom: 0.013333rem solid #ddd;
      display: flex;
      position: relative;
      background: #fff;

      img {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        margin: 38px 22px 0 0;
      }

      .staff_info .staff_info_name {
        // width: 5rem;
        padding-top: 35px;
        font-family: SourceHanSansCN-Regular;

        .name {
          font-size: 28px;
          color: #000000;
          display: flex;
          align-items: center;

          span {
            width: 1.5rem;
            font-weight: 900;
          }
          .name-span{
            width: 3rem;
            span{
              display: flex;
              min-height: 40px;
              height: auto;
              width: fit-content;
              background-color: #e89e4c;
              border-radius: 15px;
              font-size: 20px;
              color: #efefef;
              justify-content: center;
              align-items: center;
              padding: 10px 20px;
            }
          }
        }

        .shopName {
          font-family: SourceHanSansCN-Regular;
          font-size: 24px;
          color: #000000;
          padding-top: 16px;
        }

        .phone {
          font-family: MicrosoftYaHei;
          font-size: 20px;
          color: #666666;
          padding: 11px 0 27px 0;
        }
      }

      .btn,
      .starbtn {
        width: 100px;
        height: 52px;
        background-color: #ffffff;
        border: solid 1px #000000;
        font-family: SourceHanSansCN-Regular;
        font-size: 27px;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 33px;
        top: 57px;
      }
      .mixBtn {
        width: 100px;
        height: 52px;
        background-color: #ffffff;
        border: solid 1px #000000;
        font-family: SourceHanSansCN-Regular;
        font-size: 27px;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 150px;
        top: 57px;
      }

      .starbtn {
        background: #ea1010;
        color: #fff;
        border: none;
      }
    }

    li:last-child {
      border: none;
    }
  }
}
