#realTimeInfo{
    .real-time{
        background-color: #fff;
        width: 100%;
        height: 2.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0.1rem 0.2rem;
        .top-text{
        font-size: 0.54rem;
        font-weight: 900;
        }
        span{
          font-size: 0.3rem;
          font-weight: normal;
        }
        .time{
          color:#969799;
          font-size: 0.4rem;
          margin-top: -0.2rem;
        }
        .knockdown{
          font-weight: 900;
          font-size: 0.45rem;
          span:nth-of-type(1){
            color: #ff8917;
            font-size: 0.45rem;
            font-weight: 900;
          }
          .increase{
            color: #ee0a24;
            font-size: 0.4rem;
            font-weight: 900;
          }
          .fair{
            color: #969799;
            font-size: 0.4rem;
            font-weight: 900;
          }
          .decrease{
            color: #07c160;
            font-size: 0.4rem;
            font-weight: 900;
          }
          .icon-arrow-up2::before{
            color: #ee0a24;
            font-size: 0.35rem;
          }
          .icon-arrow-down2::before{
            color: #07c160;
            font-size: 0.35rem;
          }
        }
      }
      .Presentation{
        margin-top: 0.1rem !important;
        display: flex;
        width: 100%;
        height: 2rem;
        background-color: #fff;
        padding: 0.1rem 0.2rem;
        justify-content: space-between;
        .single{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          p:nth-of-type(1){
            font-size: 0.4rem;
            color: #000;
          }
          p:nth-of-type(2){
            font-weight: bolder;
            font-size: 0.4rem;
            color: #000;
          }
          p:nth-of-type(3){
            font-size: 0.35rem;
          }
          .increase{
            color: #ee0a24;
            font-size: 0.3rem;
          }
          .fair{
            color: #969799;
            font-size: 0.3rem;
          }
          .decrease{
            color: #07c160;
            font-size: 0.3rem;
          }
          .icon-arrow-up2::before{
            color: #ee0a24;
            font-size: 0.25rem;
          }
          .icon-arrow-down2::before{
            color: #07c160;
            font-size: 0.25rem;
          }
        }
    }
}